
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

:root{
    --font-color: #001B5D;
}

.mainContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 100px;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
    justify-content: flex-end;
    gap:20px
    
    }

.mainContainer .mainTitle{
    width: clamp(200px , 45%, 90%);
    color: var(--font-color);
    text-align: left;
}

.mainTitle h1{
    font-size: 2.5rem;
    font-weight: 400;
}
.mainTitle p{
    font-size: 19px;
    
}

.cards {
    width: 250px;
    height: 40vh;
    background-color: white;
    padding: 30px 60px;
    cursor: pointer;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s ease-in;
    overflow: hidden;
    position: relative;
}
.hoverContainer, .whiteContainer{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50% 50% 0 0;
    z-index: -1;
    background-color: rgba(247, 247, 247, 0.637);
    transform-origin: center;
}

.hoverContainer {
    animation: hoverAnimation 0.4s linear forwards;

}

.whiteContainer {
    animation: whiteAnimation 0.4s linear forwards;
}
    

@keyframes hoverAnimation {
    0%{
        width: 0px;
        height: 0px;
    }
    100%{
        width: 600px;
        height: 600px;
    }
    
}
@keyframes whiteAnimation {
    0%{
        width: 600px;
        height: 600px;
    }
    100% {
        width: 0px;
        height: 0px;
    }
    
}

.cards.gray{
    background-color: rgba(246, 246, 246, 0.6);
}

.cards > .title{
    color: var(--font-color);
    font-weight: 300;
    font-size: 1.8rem;
}

.cards img.icons {
    width: 60px;
    height: 60px;
}


.cards:hover{
    transform: translateY(-20px) scale(1.05);
}


.subtitle{
    transition: 1s ease;
   
}
.cards:hover .subtitle{
    transform: translateY(-10px);
}

@media(max-width: 800px){
    .mainContainer{
        
        padding: 20px;
        overflow: auto;
    }
    .mainContainer .mainTitle{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vh;

    }
    .cards{
        margin: 30px auto;
    }
}
